body {

  margin: 20px auto;

  font-family: 'Lato';

  background:#666;

  color:#fff;

}

*{

  margin:0;

  padding:0;

}

h2 {

  font-weight: bold;

  font-size: 2rem;

}

p {

  font-family: 'Reenie Beanie';

  font-size: 2rem;

}

ul,li{

  list-style:none;

}

ul{

  display: flex;

  flex-wrap: wrap;

  justify-content: center;

}

ul li a{

  text-decoration:none;
