

.popup{
  background-color: #ffffff;
  width: 420px;
  padding: 30px 40px;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
  border-radius: 8px;
  font-family: "Poppins",sans-serif;
  display: none; 
  text-align: center;

}
.popup button{
  display: block;
  margin:  0 0 20px auto;
  background-color: transparent;
  font-size: 30px;
  color: #ffffff;
  background: #03549a;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;

}
.popup h2{
margin-top: -20px;
color: #000000;
}
.popup p1{
  font-size: 14px;
  color: #000000;
  text-align: justify;
  margin: 20px 0;
  line-height: 25px;
}
a1{
  display: block;
  width: 150px;
  position: relative;
  margin: 10px auto;
  text-align: center;
  background-color: #0f72e5;
  border-radius: 20px;
  color: #ffffff;
  text-decoration: none;
  padding: 8px 0;
}

body {
  

    margin: 10px auto;
  
    font-family: 'Lato';
  
    background:#666;
  
    color:#fff;
  
  }
  
  *{
  
    margin:0;
  
    padding:0;
  
  }
  
  h2 {
  
    font-weight: bold;
  
    font-size: 2rem;
  
  }
  
  p {
  
    font-family: 'Reenie Beanie';
  
    font-size: 2rem;
  
  }
  
  ul,li{
  
    list-style:none;
  
  }
  
  ul{
  
    display: flex;
  
    flex-wrap: wrap;
  
    justify-content: center;
  
  }
  
  ul li a{
  
    text-decoration:none;
  
    color:#000;
  
    background:rgb(209, 209, 97);
  
    display:block;
  
    height:20em;
  
    width:20em;
  
    padding:1em;
  
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  
    transform: rotate(-6deg);
  
    transition: transform .15s linear;
  
  }
  
  ul li:nth-child(even) a{
  
    transform:rotate(4deg);
  
    position:relative;
  
    top:5px;
  
    background:rgb(151, 196, 151);
  
  }
  
  ul li:nth-child(3n) a{
  
    transform:rotate(-3deg);
  
    position:relative;
  
    top:-5px;
  
    background:#ccf;
  
  }
  
  ul li:nth-child(5n) a{
  
    transform:rotate(5deg);
  
    position:relative;
  
    top:-10px;
  
  }

  
  
  ul li a:hover,ul li a:focus{
  
    box-shadow:10px 10px 7px rgba(189, 12, 12, 0.7);
  
    transform: scale(1.25);
  
    position:relative;
  
    z-index:5;
  
  }
  
  ul li{
  
    margin:1em;
  
  }

  
